/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); // Source Code Pro

// Custom settings
$main-font: "Source Code Pro", Monaco, Courier, monospace !default;
$main-font-size: 22px;
$main-font-portables: 17px;
$main-font-color: #efefef;
$header-font: "Source Code Pro", Monaco, Courier, monospace !default;
$header-weight: 700;
$code-font: "Source Code Pro", monospace;
$primary-accent: #e67467;
$section-label-color: #e67467;
$page-background: #1f1f1f;
$white: #1f1f1f;
$link-color: lighten($primary-accent, 5%);
$dark-grey: #384044;

// Bootstrap options
$margin-left: 8em;
$margin-right: 5em;
$margin-top: initial;
$margin-bottom: initial;

// Others
$thick-line: 5px solid #333333;