/*-- scss:defaults --*/

// Custom settings
$main-font: "source-sans-pro", sans-serif !default;
$main-font-size: 22px;
$main-font-portables: 17px;
$main-font-color: #1f1f1f;
$header-font: "source-sans-pro", sans-serif !default;
$header-weight: 700; // 711 if Cooper Hewitt
$code-font: "Source Code", monospace;
$primary-accent: #e67467;
$section-label-color: #e67467;
$page-background: #eeedef;
$white: #eeedef;
$dark-accent1: #292b56;
$dark-accent2: #1d4947;
$dark-accent3: #8a382d;
$light-accent1: #8ee7fc;
$light-accent2: #ff8274;
$light-accent3: #f2c674;
$light-accent4: #cff4cc;
$link-color: rgb(92, 163, 214);
$dark-grey: #384044;

// Bootstrap options
$margin-left: 8em;
$margin-right: 5em;
$margin-top: initial;
$margin-bottom: initial;

// Others
$thick-line: 5px solid #333333;